.square
{
  border: 3px solid black;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  color: red;
}

#blue:hover {
  background-color: rgb(186, 240, 253);
}

#pink:hover {
  background-color: rgb(255, 196, 250);
}

#yellow:hover {
  background-color: rgb(246, 255, 166);
}

#green:hover {
  background-color: rgb(150, 248, 188);
}

#orange:hover {
  background-color: rgb(255, 150, 112);
}
