.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 10px 0;
}

h1 {
  font-size: 3rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  margin: 5px 0px;
}

h2 {
  font-size: 1.25em;
  margin: 5px 0px;
  padding-bottom: 7px;
}

